.p{color: purple;font-size: 1.2rem;
}
*{background-color: black;} 
#header,.links{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em 0;
}
.links{gap: 1em;}
.links a{
    text-decoration: none;color: whitesmoke;transition: 300ms background-color
    ease-in-out;padding: 0.3em 0.7emm;border-radius: 5px;
}
h3{color:aliceblue}
#wrapper{margin: 0 auto;max-width: 900px;}
p{color: aquamarine;}